.title {
  margin-left: 1rem;
  position: relative;
  color: #dc2626;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.25rem;
    background-color: rgba(0, 0, 0, 0.24);
    top: 0;
    left: -1rem;
  }
}
