<header class="px-2 py-1 flex items-center font-poppins">
  <div>
    <a class="flex items-center">
      <img src="assets/svg/chili-pepper-svgrepo-com.svg" alt="" /><span
        class="text-lg font-bold text-gray-600"
        >Recipe</span
      ></a
    >
  </div>

  <div class="flex-auto"></div>

  <div class="flex space-x-5 items-center">
    <div class="hidden sm:block">
      <ul class="flex space-x-2">
        <li *ngFor="let link of links">
          <a
            [routerLink]="link.path"
            class="text-gray-400 transition hover:text-red-600"
            >{{ link.name }}</a
          >
          <!-- [routerLink]="link.path" -->
        </li>
      </ul>
    </div>

    <div class="flex space-x-2">
      <button type="button" class="bg-red-600 text-white px-2 py-1 rounded font-medium">
        Login
      </button>
      <button type="button" class="bg-red-600 text-white px-2 py-1 rounded font-medium">
        Register
      </button>
    </div>
  </div>
</header>
