<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">
      <img src="assets/svg/chili-pepper-svgrepo-com.svg" alt="" /><span
        class="font-bold text-red-600 text-3xl"
        >Recipe</span
      >
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 space-x-1">
      <li *ngFor="let link of links">
        <a
          [routerLink]="link.path"
          routerLinkActive="bg-primary text-white"
          [routerLinkActiveOptions]="{ exact: link.path[0] === '' }"
          >{{ link.name }}</a
        >
      </li>
    </ul>
  </div>
</div>
