<div class="overflow-x-auto">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <td></td>
        <td>Ingredient Name</td>
        <td>Quantity</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!ingredients || ingredients.length === 0">
        <td colspan="4" class="text-center">
          <p>To Ingredient In Shopping List To Display</p>
          <p>Add from <a class="underline" routerLink="/recipe">Recipies</a></p>
        </td>
      </tr>

      <tr *ngFor="let ingredient of ingredients; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td class="space-x-2">
          <button
            type="button"
            class="btn btn-ghost btn-square btn-xs tooltip tooltip-sm"
            data-tip="Delete Ingredient"
            (click)="onDelete(ingredient)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
          <a
            routerLink="/ingredients/{{ ingredient.id }}/edit"
            class="btn inline-flex btn-ghost btn-square btn-xs tooltip tooltip-sm"
            data-tip="Edit Ingredient Details"
          >
            <i class="fa-solid fa-pencil"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
