<div class="p-6 shadow-md rounded-md bg-primary text-white" *ngIf="recipeCount === 0">
  <p class="text-center">
    <i class="fa-solid fa-info"></i>
    <span class="ml-4">No Recipes To Display</span>
  </p>

  <p class="text-center mt-3">
    <a
      routerLink="create"
      class="btn btn-xs btn-outline border-white text-white hover:bg-white hover:text-primary hover:border-none focus:ring-white focus:outline-none"
      >Create new</a
    >
  </p>
</div>

<!-- When Recipes Are Found -->

<div class="flex flex-col gap-2 w-full">
  <app-recipe-list-item
    *ngFor="let recipe of recipies"
    [recipe]="recipe"
  ></app-recipe-list-item>
</div>
